.img01 {
  background-color: transparent;
  display: block;  
  width: 900px;
  filter: drop-shadow(5px 8px 8px rgba(0, 0, 0, 0.2)); /* The last value for rgba should be between 0 and 1 for opacity */
  transform: rotate(0deg) translate(-50px, 10px);
}

.img02 {
  background-color: transparent;
  display: block;  
  width: 1200px;
  filter: drop-shadow(5px 8px 8px rgba(0, 0, 255, 0.3)); /* Added missing closing parenthesis */
  transform: rotate(8deg) translate(800px, -500px);
}
